<header>
  <div class="nav-container">
    <a href="{{ site.baseurl }}/" class="logo">
      <img src="{{ site.baseurl }}/assets/favicon.svg" alt="PLCMM Logo" class="nav-logo">
      <span>PLCMM</span>
    </a>
    <button class="hamburger" id="hamburger" aria-label="Open navigation menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="nav-menu">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/ministries/">Ministries</a></li>
        <li><a href="{{ site.baseurl }}/services/">Services</a></li>
        <li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>